<ion-modal-view>
    <ion-header-bar class="bar bar-positive-900 bar-header">
        <h1 class="title">Register your picture</h1>
    </ion-header-bar>
    <form name="imgForm" ng-submit="imgForm.$valid" novalidate>
        <ion-content class="has-footer has-header light-bg">
            <div class="list">
                <ion-md-input class="item" type="text" placeholder="Title" name="Name"
                    highlight-color="positive"
                    ng-model="vm.name" required="true">
                </ion-md-input>
                <div ng-messages="imgForm.Name.$error" class="messages-animation"
                    style="color:maroon" role="alert">
                    <div ng-message="required">
                        <i class="icon assertive ion-close placeholder-icon"></i>
                        You did not enter a Title</div>
                </div>
                <ion-md-input class="item" type="text" placeholder="Description"
                    highlight-color="dark" ng-model="vm.descr">
                </ion-md-input>
                <div class="padding-top">
                    <label class="item item-input item-select">
                        <div class="input-label">Category</div>
                        <select ng-model="vm.cat" name="cat" required
                            ng-options="cat.name for cat in vm.categories track by cat.id">
                        </select>
                    </label>
                    <div ng-messages="imgForm.cat.$error" class="messages-animation"
                        style="color:maroon" role="alert">
                        <div ng-message="required">
                            <i class="icon assertive ion-close placeholder-icon"></i>
                            You did not enter a category</div>
                    </div>
                </div>
                <label class="item item-stable">
                    <div class="button-bar">
                        <button ng-click="vm.selectResource()"
                            class="button icon ion-search button-raised button-icon">
                        </button>
                        <button ng-click="vm.captureResource()"
                            ng-class="vm.register_logo[vm.ryType]"
                            class="button icon button-raised button-icon">
                        </button>
                        <button ng-click="vm.img_path = ''"
                            ng-show="vm.img_path"
                            class="energized button
                            icon ion-trash-a button-icon button-raised animate spin-toggle">
                        </button>
                    </div>
                    <div ng-messages="imgForm.img.$error" class="messages-animation"
                        style="color:maroon" role="alert">
                        <div ng-message="required">
                            <i class="icon assertive ion-close placeholder-icon"></i>
                            You did not enter a picture</div>
                    </div>
                    <div ng-style="vm.getimg()">
                    </div>
                </label>
                <input ng-model="vm.img_path" name="img" hidden required>
            </div>
        {{imgForm.$valid}}
        </ion-content>
        <div class="bar bar-positive-100 bar-footer">
            <div class="buttons buttons-left">
                <button class="button button-fab button-energized-900
                    icon ion-arrow-return-left"
                    ng-click="vm.modal.hide()">
                </button>
            </div>
            <h1 class="title">
                <ion-spinner ng-show="vm.uploading" icon="bubbles"
                    class="spinner-energized">
                </ion-spinner>
                {{vm.prog}}
            </h1>
            <div class="buttons buttons-right">
                <button
                    class="button button-fab button-positive icon ion-upload"
                    ng-disabled="vm.uploading || !imgForm.$valid"
                    ng-click="vm.upload()">
                </button>
            </div>
        </div>
    </form>
</ion-modal-view>
