<div>
    <p>Choose a reason : </p>
<ry-filter filter-list="vm.reportReason" filter-type="unique" filter-selected="vm.reason"></ry-filter>
    <p>Comment :</p>
    <label class="item item-input">
        <input ng-model="vm.commentaire" type="text">
    </label>
</div>
