<ion-view>
    <ion-nav-buttons side="secondary">
        <button class="button icon ion-funnel button-clear"
            ng-click="vm.filterpopup = !vm.filterpopup">
        </button>
    </ion-nav-buttons>
    <div class="bar dark-bg animated slideup"
        ng-if="vm.filterpopup"
        style="height:auto;bottom:0;display:block;">
        <span ng-repeat="cat in vm.cats"
            ng-click="cat.show = !cat.show"
            ng-class="{'badge-royal':cat.show,
            'badge-assertive':!cat.show}"
            class="rybadge animated">{{cat.name}}
            <i class="icon ion-funnel"></i>
        </span>
    </div>
    <ion-content id="rescontent" has-header="true" class="dark-bg" lazy-scroll>
        <div item-width="100%"
            collection-repeat="slide in vm.slides" class="padding-bottom">
                <ry-resource ng-if="slide" slide="slide">
                </ry-resource>
            </div>
        <ion-infinite-scroll
            immediate-check="false"
            ng-if="vm.resourceMore"
            on-infinite="vm.reachEnd()"
            distance="20%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
