<ion-view>
    <!--
    <ion-nav-title>Home</ion-nav-title>
        <ion-nav-buttons side="primary">
            <button class="button button-clear icon ion-log-in icon-left"
                ui-sref="login">
                Login
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="secondary">
            <button class="button button-clear icon ion-log-out icon-left"
                ng-click="logout()">
                Logout
            </button>
        </ion-nav-buttons>
        -->
    <ion-content>
        HOME
        Redirect to login ...
        <button ui-sref="login"
            class="button button-full button-positive">
            Login
        </button>
    </ion-content>
</ion-view>
