<ion-view name="login">
    <ion-content>
        <form name="ratemyForm" novalidate>
            <div class="list list-inset">
                <div class="item item-toggle">
                    Create an account?
                    <label class="toggle toggle-energized">
                        <input ng-model="vm.iscreation" type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <label class="item item-input">
                    <div ng-switch="ratemyForm.Username.$valid">
                        <i ng-switch-when="true" class="icon balanced ion-checkmark placeholder-icon"></i>
                        <i ng-switch-when="false" class="icon assertive ion-close placeholder-icon"></i>
                        <ion-spinner ng-switch-default icon="dots" class="spinner-energized placeholder-icon"></ion-spinner>
                    </div>
                    <input ng-model="vm.username" name="Username" type="text"
                    placeholder="Username" ng-pattern="/^\w+$/" ng-model-options="{debounce:250}"
                    required ng-minlength="5" ng-maxlength="30" alreadytaken>
                </label>
                <ng-messages for="ratemyForm.Username.$error" role="alert">
                    <ng-message when="required" ng-info>
                        You did not enter a field
                    </ng-message>
                    <ng-message when="minlength" ng-info>
                        Your username must be between 5 and 30 characters long
                    </ng-message>
                    <ng-message when="maxlength" ng-info>
                        Your username must be between 5 and 30 characters long
                    </ng-message>
                    <ng-message when="pattern" ng-info>
                        Your username shall be composed of Alphanumeric characters
                    </ng-message>
                    <ng-message when="alreadytaken" ng-info>
                        This username already exist
                    </ng-message>
                </ng-messages>
                <label class="item item-input">
                    <div ng-switch="ratemyForm.Pass1.$valid">
                        <i ng-switch-when="true" class="icon balanced ion-checkmark placeholder-icon"></i>
                        <i ng-switch-when="false" class="icon assertive ion-close placeholder-icon"></i>
                        <ion-spinner ng-switch-default icon="dots" class="spinner-energized placeholder-icon"></ion-spinner>
                    </div>
                    <input ng-model="vm.pass1" name="Pass1" type="password" placeholder="Password" required>
                </label>
                <ng-messages for="ratemyForm.Pass1.$error" role="alert">
                    <ng-message when="required" ng-info>
                        You did not enter a field
                    </ng-message>
                </ng-messages>
                <div ng-if="vm.iscreation">
                    <label class="ryitem item item-input">
                        <div ng-switch="ratemyForm.Pass2.$valid">
                            <i ng-switch-when="true" class="icon balanced ion-checkmark placeholder-icon"></i>
                            <i ng-switch-when="false" class="icon assertive ion-close placeholder-icon"></i>
                            <ion-spinner ng-switch-default icon="dots" class="spinner-energized placeholder-icon"></ion-spinner>
                        </div>
                        <input ng-model="vm.pass2" name="Pass2" type="password"
                        samepassword="pass1" placeholder="Re-type your password">
                    </label>
                    <ng-messages for="ratemyForm.Pass2.$error" role="alert">
                        <ng-message when="samepassword" ng-info>
                            Second password is different from the first password
                        </ng-message>
                    </ng-messages>
                </div>
                <button type="submit" class="button button-block"
                    ng-disabled="!ratemyForm.$valid"
                    ng-click="vm.submit()"
                    ng-class="{'button-energized': vm.iscreation,
                    'button-positive': !vm.iscreation}">
                    {{vm.iscreation? "Register": "Login"}}
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
