<ion-view name="self">
    <ion-content class="padding">
        <button class="button button-fab"
            ng-if="vm.user.user_id == vm.me.id"
            ui-sref="tabs.details">
            <i class="icon ion-gear-a"></i>
        </button>
        <div class="hero slide-up" style="background-color: black;">
            <div class="content">
                <div class="avatar" ng-style="vm.pict"></div>
                <h3><a class="light">{{vm.user.username}}</a></h3>
                <h4>
                    <i class="icon assertive ion-podium"></i>
                    Rank : {{vm.user.rank}}
                    <i class="icon assertive ion-speedometer"></i>
                    Total : {{vm.user.total}}
                </h4>
            </div>
        </div>
        <div class="item item-dark item-icon-left
            icon ion-stats-bars item-button-right">
            Stats
        </div>
        <ry-stats ry-user="vm.user"></ry-stats>
        <div class="list card animate-fade-slide-in-right">
            <div class="item button-bar">
                <a class="button icon ion-images button-clear"
                    ng-class="{'button-positive': vm.selection.curr == 'pictures'}"
                    ng-click="vm.selection.curr = 'pictures'"></a>
                <a class="button icon ion-heart button-clear"
                    ng-class="{'button-positive': vm.selection.curr == 'favorites'}"
                    ng-click="vm.selection.curr = 'favorites'"></a>
            </div>
            <div class="item item-dark item-icon-left
                icon ion-images item-button-right"
                ng-class="vm.select().csstitle">
                {{vm.select().title}}
                <div class="buttons">
                    <button class="button button-balanced button-clear"
                        ng-click="vm.resetpictures(vm.selection.curr)">
                        <i class="icon ion-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="item item-text-wrap">
                <span ng-repeat="cat in vm.categories" ng-if="!cat.deleted"
                    ng-click="cat.deleted = !cat.deleted"
                    class="rybadge badge-royal animated">{{cat.name}}
                    <i class="icon ion-close"></i>
                </span>
            </div>
            <div class="ry-item item item-text-wrap animated"
                ng-if="!vm.getcatfromid(pic.category).deleted"
                ng-click="vm.showResource(pic)"
                ng-repeat="pic in vm.select().resources">
                <div class="row">
                    <div class="col col-80 col-center">
                        <h3>{{pic.name}}
                            <a class="rybadge badge-calm">
                                <i class="icon ion-eye"></i>
                                {{pic.sum_views || 0}}
                            </a>
                            <a class="rybadge badge-calm">
                                <i class="icon ion-share"></i>
                                {{pic.sum_shares || 0}}
                            </a>
                            <span ng-if="vm.iscurrentuser(pic)">
                                <i class="icon ion-person"></i>
                                by {{pic.username}}
                            </span>

                        </h3>
                        <p>
                            <i class="icon ion-folder"></i>
                            {{vm.getcatfromid(pic.category).name}}
                        </p>
                    </div>
                    <div class="col col-20 col-center">
                        <span class="icon icon-left ion-star rybadge badge-positive">
                            {{pic.avg || 0}}
                        </span>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll
                ng-if="vm.select().resourceMore"
                on-infinite="vm.getmoreresources()"
                distance="1%">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
