<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content drag-content="true">
        <ion-nav-bar class="bar-positive-900">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear icon ion-navicon"
                    menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        <ion-nav-view name="fabContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Left</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close ng-click="login()">
                    Login
                </ion-item>
                <ion-item menu-close ui-sref="tabs.menu">
                    Categories
                </ion-item>
                <ion-item menu-close ui-sref="tabs.other">
                    Ranking
                </ion-item>
                <ion-item menu-close
                    ui-sref="tabs.self({user_id:0})">
                    My Profile
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<!--
<ion-tabs class="tabs-striped tabs-background-dark tabs-color-assertive">
    <ion-tab title="Home" icon-on="ion-grid" ui-sref="tabs.menu"
        icon-off="ion-grid">
        <ion-nav-view name="categories"></ion-nav-view>
    </ion-tab>
    <ion-tab ui-sref="tabs.other" title="Ranking" icon-on="ion-stats-bars"
        icon-off="ion-stats-bars">
        <ion-nav-view name="other"></ion-nav-view>
    </ion-tab>
    <ion-tab ui-sref="tabs.self({user_id:0})"
        title="Me" icon-on="ion-person"
        icon-off="ion-person">
        <ion-nav-view name="self"></ion-nav-view>
    </ion-tab>
</ion-tabs>
-->
