<ion-view view-title="Menu">
    <!--    <ion-nav-back-button class="button button-clear icon button-black ion-grid">
    </ion-nav-back-button>-->
    <ion-content class="has-header dark-bg animate-fade-slide-in">
        <div class="list">
            <a class="item item-icon-left item-stable"
                ui-sref="tabs.cat({type:0})">
                <i class="icon ion-pin"></i>Rate all categories
            </a>
            <div collection-repeat="cat in vm.categories"
                item-width="50%" item-height="50%"
                force-refresh-images="true"
                class="ry-item item">
                <div class="ink ink-dark ry_catmenu_button button"
                    ng-style="vm.getcatstyle(cat)"
                    style="background-size:cover; background-position: center center; "
                    ui-sref="tabs.cat({cat:$index, type:0})">
                    <span class="rybadge bottomright badge-dark">{{cat.number +" "+ cat.name}}</span>
                    <p class="stable"
                        style="font-size: x-large;">Ratemy</p>
                    <p class="stable"
                        style="font-size: x-large;">{{cat.name}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
