<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{pic.titre}}</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <center>
            <img ng-src="{{config.domain + pic.path}}" style="height:300px;weight:500px"></img>
        </center>
    <side-bottom-number class="ryrowbottom"
                        ry-icon="ion-eye" ry-side="left">
        {{pic.views || 0}}
    </side-bottom-number>
    <side-bottom-number class="ryrowbottom"
                        ry-icon="ion-share" ry-side="right">
        {{pic.shares || 0}}
    </side-bottom-number>
    </ion-content>
</ion-modal-view>