<ion-view view-title="Hiscores">
    <ion-nav-buttons side="secondary">
        <button class="button icon ion-funnel button-clear"
                ng-click="vm.filterpopup = !vm.filterpopup">
        </button>
    </ion-nav-buttons>
    <div class="bar bar-subfooter animated"
         ng-if="vm.filterpopup"
         style="height:auto;bottom:0;display:block;">
        <ry-filter filter-list="vm.filterlist" filter-type="unique" filter-selected="vm.filterSelected"></ry-filter>
    </div>
    <ion-content>
        <div class="padding" >
            <div class="list card">
                <div class="item item-avatar">
                    <img src="{{config.domain + vm.me.picture}}">
                    <h2><strong>{{vm.me.username}}</strong></h2>
                    <p>My score : {{vm.me.score}}</p>
                </div>
            </div>
            <div class="item item-divider item item-dark item-icon-left
                        icon ion-stats-bars item-button-right">
                Top players
            </div>
            <div ng-repeat="player in vm.players | orderBy: '-score'">
                <div class="item item-stable item-button-right animated ry-item " >
                    <div ng-switch="$index">
                        <div ng-switch-when="0" >
                            {{$index + 1}} - <i class="icon ion-star">{{player.username}}</i>
                            <span class="rybadge badge-calm">
                            <i class="{{vm.logo}}"></i>
                            {{player}}
                            </span>
                        </div>
                        <div ng-switch-when="1">
                            {{$index + 1}} -  <i class="icon ion-star">{{player.username}}</i> &nbsp;&nbsp;
                        </div>
                        <div ng-switch-when="2">
                            {{$index + 1}} -  <i class="icon ion-star">{{player.username}}</i> &nbsp;&nbsp; 
                            <span class="rybadge badge-calm">
                            <i class="{{vm.logo}}"></i>
                            TEST
                            </span>
                        </div>
                        <div ng-switch-default>
                            {{$index + 1}} -  {{player.username}} &nbsp;&nbsp; {{vm.sort}} : {{player.vm.sort}}
                        </div>
                    </div>
                    <button class="button item-text-wrap"
                            ui-sref="tabs.meView({user_id: player.user_id})">
                        <i class="icon ion-person"></i>
                        <div class="padding" ng-if="rankDetails">
                            <i class="icon ion-person"></i>
                        </div>
                    </button>
                    <button class="button item-text-wrap" style="right:100px;" ng-click="rankDetail = !rankDetail">
                        <i ng-class="{'ion-arrow-up-b':rankDetail,
                                     'ion-arrow-down-b':!rankDetail}" class="icon"></i>
                    </button>
                </div>
                <ry-stats ng-if="rankDetail" ry-user='player'>
                </ry-stats>
            </div>
        </div>
    </ion-content>
</ion-view>
