<ion-view view-title="Account config">
    <ion-content scroll="false">
        <form name="configForm" novalidate>
            <div class="list list-inset">
                <div class="item item-avatar item-button-right">
                    <img ng-src="{{vm.newpicture ||
                    vm.config.domain +
                    (vm.me.picture || vm.config.default_picture)}}">
                    <h2>Username: {{vm.me.username}}</h2>
                </div>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <h3>Change picture</h3>
                    </label>
                    <div class="buttons">
                        <button ng-click="selectImage()"
                            class="button button-small icon ion-search button-icon">
                        </button>
                        <button ng-click="captureImage()"
                            class="button button-small icon ion-camera button-icon">
                        </button>
                        <button ng-click="vm.newpicture = ''"
                            ng-show="vm.newpicture"
                            class="energized button button-small icon ion-arrow-return-left button-icon animate spin-toggle">
                        </button>
                    </div>
                    <input ng-model="vm.newpicture" hidden>
                </div>
                <label class="item item-input item-stable item-icon-right">
                    <span class="input-label">
                        <div ng-switch="configForm.myemail.$valid">
                            <i ng-switch-when="true"
                                class="icon balanced ion-checkmark placeholder-icon"></i>
                            <i ng-switch-when="false"
                                class="icon assertive ion-close placeholder-icon"></i>
                            <ion-spinner ng-switch-default icon="dots"
                                class="spinner-energized placeholder-icon"></ion-spinner>
                        </div>
                        mail
                    </span>
                    <input type="email" placeholder="Mail"
                    name="myemail" ng-model="vm.myemail">
                </label>
                <label class="item item-input item-stable item-icon-right">
                    <span class="input-label">
                        <div ng-switch="configForm.pass1.$valid">
                            <i ng-switch-when="true"
                                class="icon balanced ion-checkmark placeholder-icon"></i>
                            <i ng-switch-when="false"
                                class="icon assertive ion-close placeholder-icon"></i>
                            <ion-spinner ng-switch-default icon="dots"
                                class="spinner-energized placeholder-icon"></ion-spinner>
                        </div>
                        Password
                    </span>
                    <input type="password" placeholder="Password" name="pass1" ng-model="vm.pass1" required>
                </label>
                <label class="item item-input item-stable item-icon-right">
                    <span class="input-label">
                        <div ng-switch="configForm.pass2.$valid">
                            <i ng-switch-when="true"
                                class="icon balanced ion-checkmark placeholder-icon"></i>
                            <i ng-switch-when="false"
                                class="icon assertive ion-close placeholder-icon"></i>
                            <ion-spinner ng-switch-default icon="dots"
                                class="spinner-energized placeholder-icon"></ion-spinner>
                        </div>
                        Retype your password
                    </span>
                    <input type="password" placeholder="Password" name="pass2"
                    ng-model="vm.pass2" required samepassword="vm.pass1">
                </label>
            </div>
            <button ng-disabled="!configForm.$valid"
                class="button button-block button-positive icon ion-upload"
                ng-click="vm.upload()">
                <h1 class="title">
                    <ion-spinner ng-show="vm.uploading" icon="bubbles"
                        class="spinner-energized"></ion-spinner>
                    {{vm.prog}}
                </h1>
            </button>
        </form>
    </ion-content>
</ion-view>
