<div class="card card-gallery light-bg">
    <div class="item item-avatar item-text-wrap ink ink-dark">
        <span class="avatar" ng-style="vm.pict"></span>
        <strong>{{vm.slide.username}}</strong> has posted
        <strong>{{vm.slide.name}}
            <a ng-click="vm.showdescr=!vm.showdescr"
                class="padding icon ion-left ion-more">
            </a>
        </strong>
        <div class="card-footer text-right">
            <i class="icon ion-star royal"></i>
            {{vm.slide.avg || 0}}
            <i class="icon ion-eye positive"></i>
            {{vm.slide.sum_views || 0}} views
            <i class="icon ion-share positive"></i>
            {{vm.slide.sum_shares || 0}} shares
            <div class="pull-left">
                <i class="icon ion-clock"></i> {{vm.slide.date}}
            </div>
        </div>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
        <a ry-vote slide="vm.slide" myvote="vm.myvote"
            class="tab-item royal-bg ink ink-dark">
            <i class="icon ion-star"></i>
            {{vm.myvote.note}}
        </a>
        <a ry-comments slide="vm.slide" mycomment="vm.mycomment"
            class="tab-item balanced-bg ink ink-dark">
            <i class="icon ion-chatbubble-working"></i>
            {{vm.slide.sum_comments}}
        </a>
        <a ry-favorite slide="vm.slide" myfavorite="vm.myfavorite"
            class="tab-item assertive-bg ink ink-dark">
            <i class="icon ion-heart"></i>
        </a>
        <a ry-share slide="vm.slide" myshare="vm.myshare"
            class="tab-item positive-bg ink ink-dark">
            <i class="icon ion-share"></i>
            {{vm.slide.sum_shares}}
        </a>
        <a ry-report slide="vm.slide" myreport="vm.myreport"
            class="tab-item energized-bg ink ink-dark">
            <i class="icon ion-alert"></i>
        </a>
    </div>
        <div class="item-image item-text-wrap item">
            <div class="ink dark-bg">
                <h2 ng-if="vm.showdescr" class="slidedown">
                    {{vm.slide.description}}
                </h2>
                <div image-lazy-src="{{vm.config.domain + vm.slide.path}}"
                    image-lazy-background-image="true"
                    image-lazy-loader="lines"
                    ng-style="vm.getslidestyle(vm.slide)">
                </div>
            </div>
    </div>
</div>
