<ion-modal-view style="border-radius:25px;">
    <ion-content>
        <div class="card">
            <div class="item item-avatar item-text-wrap"
                style="border-bottom: transparent;">
                <img ng-src="{{::vm.getpict(vm.me.picture)}}">
                <h2>
                    {{vm.me.username}}
                    <a class="padding-left icon-left ion-plus-circled balanced"
                        ng-if="!vm.mycomment.id"
                        ng-click="vm.edit =!vm.edit">add comment</a>
                    <a class="padding-left icon-left ion-edit" ng-if="vm.mycomment.id"
                        ng-click="vm.edit =!vm.edit">edit</a>
                    <a class="padding-left icon-left ion-checkmark-circled assertive"
                        ng-click="vm.deletecomment()" ng-if="vm.mycomment.id">
                        delete
                    </a>
                    <div style="float: right;">
                        <a class="icon-left ion-thumbsup balanced" ng-if="vm.mycomment.id">
                            {{vm.mycomment.pos_note ||0}}</a>
                        <a class="icon-left ion-thumbsdown assertive" ng-if="vm.mycomment.id">
                            {{vm.mycomment.neg_note || 0}}</a>
                    </div>
                </h2>
                <p>{{vm.mycomment.comments}}
                    <a ng-if="vm._saved.value" ng-class="vm._saved.color"
                        class="rybadge rybadgeInfo">
                        <i class="icon ion-checkmark-circled"></i>
                        {{vm._saved.text}}
                    </a>
                </p>
            </div>
            <div class="ryslideDown" ng-if="vm.edit">
                <div class="item item-input-inset ryslideDown">
                    <label class="item-input-wrapper">
                        <input ng-model="vm.mycomment.comments"
                        type="text" placeholder="..." style="width:100%;"
                        ng-blur="vm.postcomment()">
                    </label>
                </div>
            </div>
        </div>
        <div class="list card" ng-if="vm.comments.length > 0">
            <div class="item item-divider ry-item">
                Comments
            </div>
            <div ng-repeat="comment in vm.comments"
                class="ry-item item item-avatar item-text-wrap">
                <img ng-src="{{:: vm.getpict(comment.picture)}}">
                <h2 >{{::comment.username}}
                    <a ng-if="comment.updated > 1"
                        class="animated zoomIn icon padding-left icon-left ion-edit">
                        edited ({{::comment.updated}})
                    </a>
                    <div style="float: right;">
                        <a class="padding-left icon icon-left ion-thumbsup balanced"
                            ng-click="vm.votecomments(comment, 1)">{{comment.pos_note}}</a>
                        <a class="padding-left icon icon-left ion-thumbsdown assertive"
                            ng-click="vm.votecomments(comment, -1)">{{comment.neg_note}}</a>
                    </div>
                </h2>
                <p>{{::comment.comments}}</p>
            </div>
        </div>
        <ion-infinite-scroll
            ng-if="vm.commentsMore"
            immediate-check="true"
            on-infinite="vm.getcomments()"
            distance="1%">
            toto
        </ion-infinite-scroll>
    </ion-content>
</ion-modal-view>
