<div class ="class=rybadge animated rytada item-text-wrap">
    <span ng-if="!vm.uniqueType" ng-repeat="objet in vm.filterList"
    ng-click="objet.show = !objet.show; vm.selectedFilter($index)"
    ng-class="{'badge-royal':objet.show,
    'badge-assertive':!objet.show}"
    class="rybadge animated rytada" >{{objet.name}}
    <i class="icon ion-funnel"></i>
</span>


<span ng-if="vm.uniqueType" ng-repeat="objet in vm.filterList"
    ng-click="vm.setClass($index)" ng-class="{'badge-royal': vm.isActive === objet,
    'badge-assertive': vm.isActive !== objet}"
    class="rybadge animated rytada item-text-wrap">
    {{objet.name}}
    <i class="icon ion-funnel"></i>
</span>
</div>