<ry-big-button ng-click="record()"
    ry-logo="recorddisplay[isrecording]">
</ry-big-button>
<div class="downbar">
    <progressbar class="progress-striped active" max="maxtime"
    value="maxtime - currenttime" type="danger">
    <i>{{currenttime}} / {{maxtime}}</i>
    </progressbar>
    <div class="item range">
        <i class="icon ion-clock"></i>
        Record time
        <input type="range" default="5" ng-model="maxtime"
        step="0.5" min="1" max="10" name="volume" ng-disabled="isplaying || isrecording">
        {{maxtime}} sec
    </div>
    <div class="button-bar">
        <a class="button"
            ng-class="recorddisplay[isrecording]"
            ng-click="record()" ng-disabled="isplaying"></a>
        <a class="button"
            ng-class="playdisplay[isplaying]"
            ng-click="play()" ng-disabled="isrecording"></a>
    </div>
</div>
