<div class="item item-light item-text-wrap ryStats">
    <div class="row row-center">
        <div class="col col-20 col-center textaligncenter" ng-click="showDef(1)">
            <span class="rybadge badge-calm">
                <i class="icon ion-chatbubbles"></i>
                {{ryUser.nb_comments || 0}}
            </span>
        </div>
        <div class="col col-20 col-center textaligncenter" ng-click="showDef(2)">
            <span class="rybadge badge-calm">
                <i class="icon ion-heart"></i>
                {{ryUser.nb_favorites || 0}}
            </span>
        </div>
        <div class="col col-20 col-center textaligncenter" ng-click="showDef(3)">
            <span class="rybadge badge-calm">
                <i class="icon ion-alert"></i>
                {{ryUser.nb_report || 0}}
            </span>
        </div>
        <div class="col col-20 col-center textaligncenter" ng-click="showDef(4)">
            <span class="rybadge badge-calm">
                <i class="icon ion-images"></i>
                {{ryUser.nb_resources || 0}}
            </span>
        </div>
        <div class="col col-20 col-center textaligncenter" ng-click="showDef(5)">
            <span class="rybadge badge-calm">
                <i class="icon ion-share"></i>
                {{ryUser.nb_shares || 0}}
            </span>
        </div>
    </div>
    <div class="row row-center">
        <div class="col col-offset-20 col-20 col-center textaligncenter" ng-click="showDef(6)">
            <span class="rybadge badge-calm">
                <i class="icon ion-eye"></i>
                {{ryUser.nb_views || 0}}
            </span>
        </div>
        <div class="col col-20 col-center textaligncenter" ng-click="showDef(7)">
            <span class="rybadge badge-calm" >
                <i class="icon ion-star" ></i>
                {{ryUser.nb_votes || 0}}
            </span>
        </div>
        <div class="col col-20 col-center textaligncenter"  ng-click="showDef(8)">
            <span class="rybadge badge-calm">
                <i class="icon ion-wand"></i>
                {{ryUser.score || 0}}
            </span>
        </div>
    </div>
    <div ng-if="show"
        class="rybadgeInfo">
        <span class="rybadge badge-stable">
            <i class="icon ion-information-circled"></i>
            {{definition}}
        </span>
    </div>
</div>
