<div class="row row-top">
    <div class="col col-center rytada"
        ng-repeat="star in vm.stars"
        ng-click="vm.vote($index)" style="text-align: center;">
        <i class="icon ry-spin-toggle royal"
            ng-class="vm.votedclass[$index]"></i>
    </div>
</div>
