/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;
$RobotoDraftFontPath: "../lib/robotodraft/fonts";
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "scss/ry-animation.scss";
@import "animate";
@import "www/lib/robotodraft/sass/robotodraft.scss";
@import "www/lib/ionic-material/src/scss/index.scss";
@import "www/lib/ion-md-input/ion-md-input.scss";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin transition($data) {
    -webkit-transition: $data;
    -moz-transition: $data;
    -ms-transition: $data;
    transition: $data;
}
@mixin transition-delay($data) {
    -webkit-transition-delay: $data;
    -moz-transition-delay: $data;
    -ms-transition-delay: $data;
    transition-delay: $data;
}
@mixin transform($data) {
    -webkit-transform: $data;
    -moz-transform: $data;
    -ms-transform: $data;
    transform: $data;
}
/* Mixin */
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    @include transform(translate(0,-50%));
}
@mixin horizontal-align($position: relative) {
    position: $position;
    left: 50%;
    @include transform(translate(-50%,0));
}
@mixin center-align($position: relative) {
    position: $position;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,-50%) !important);
}
.row {
    /*remove bootstrap effect */
    margin-right: 0;
    margin-left: 0;
}

.ryrowup{
    position:absolute;
    top:0;
    z-index:1000;
}
.verticalalign{
    @include vertical-align(absolute);
}
.size-96 {
    font-size:96px;
}

.h-center {
    text-align: center;
}

.slider-slide {
    height: auto;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.display-image2 {
    width: 100%;
    margin: auto;
    max-width: 100%;
}
.display-image {
    @extend .display-image2;
    position:absolute;
    height: 100%;
    max-height: 100%;

}
.spinnercenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.res_input {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    z-index:10000;
}
.imgdescr{
    position:absolute;
    top:0;
    width:100%;
}
.imgwait{
    position:fixed;
    margin:auto;
}

.ry-spin-toggle.ion-android-star {
  @include transform (rotateZ(360deg));
  @include transition (all ease 0.5s);
  @include transition-duration (250ms);
  font-size:32px;
}
.ry-spin-toggle.ion-android-star-outline {
    font-size:16px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

div.commentsspace{
    height:100px;
    width:100%;
    margin:auto;
    position:relative;
}
div.commentsspaceup{
    width:100%;
    margin:auto;
    position:relative;
}
div.commentsspaceup>div.button{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: grey;
    font-size:xx-large;
    opacity: 0.8;
    >i{
        @include vertical-align(absolute);
    }
}
div.commentsspace>div.left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: grey;
    font-size:xx-large;
    opacity: 0.8;
    padding-bottom: 45px;
    padding-top: 45px;
    margin: 0;
    border: 0;
    >i{
        @include vertical-align(absolute);
    }
}
div.commentsspace>div.middle{
    background-color: grey;
    color: white;
    font-weight: bold;
    opacity: 0.8;
}

div.commentsspace>div.right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: grey;
    font-size:xx-large;
    opacity: 0.8;
    padding-bottom: 45px;
    padding-top: 45px;
    margin: 0;
    border: 0;
    >i{
        @include vertical-align(absolute);
    }
}

.commentdirective{
    width: 100%;
    bottom: -100px;
    position: absolute;
}

.ry-button{
  @include transition(all ease 0.5s);
}
.ry-new-comment.ryclosed{
    position: absolute;
    left: 50%;
    >i{
        font-size: 32px;
        @include vertical-align(absolute);
    }
  @include transition(all ease 0.5s);
  @include transform (translate3d(-150px,0,0));
}
.ry-addcomment{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 80%;
    @include transform (translate3d(-50%,-50%,0));
    z-index: 10000;
    label{
        @include border-radius(25px);
        textarea{
            background-color: transparent;
            overflow:hidden;
        }
    }
}
.ry-new-comment.ryopened{
    position: absolute;
    left: 50%;
    >i{
        font-size: 32px;
        @include vertical-align(absolute);
    }
  @include transition(all ease 0.5s);
  @include transform (translate3d(0,0,0));
  @include transition-delay(0.7s);
}

.padded{
    padding-top:50%;
    padding-bottom:50%;
}
.ry_catmenu_button {
    width:80%;
    height:80%;
    moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -ms-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
    border-width: 5px;
    border-color: black;
    padding: 10px;
    @include center-align(absolute);
    //@include border-radius(30px);
}
.bottomright{
    position: absolute !important;
    bottom: 5px;
    right: 5px;
    top: initial !important;
}
.rybadge {
    margin: 4px;
    z-index: $z-index-badge;
    display: inline-block;
    padding: 3px 8px;
    min-width: 10px;
    border-radius: $badge-border-radius;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: $badge-font-weight;
    font-size: $badge-font-size;
    line-height: $badge-line-height;
}

.rybadge {
  &.badge-light {
    @include badge-style($badge-light-bg, $badge-light-text);
  }
  &.badge-stable {
    @include badge-style($badge-stable-bg, $badge-stable-text);
  }
  &.badge-positive {
    @include badge-style($badge-positive-bg, $badge-positive-text);
  }
  &.badge-calm {
    @include badge-style($badge-calm-bg, $badge-calm-text);
  }
  &.badge-assertive {
    @include badge-style($badge-assertive-bg, $badge-assertive-text);
  }
  &.badge-balanced {
    @include badge-style($badge-balanced-bg, $badge-balanced-text);
  }
  &.badge-energized {
    @include badge-style($badge-energized-bg, $badge-energized-text);
  }
  &.badge-royal {
    @include badge-style($badge-royal-bg, $badge-royal-text);
  }
  &.badge-dark {
    @include badge-style($badge-dark-bg, $badge-dark-text);
  }
}
div.col.textaligncenter{
    text-align:center;

}
.ry-item.ng-enter-stagger {
    -webkit-animation-delay:200ms;
    animation-delay:200ms;

    /* override to make sure it's not inherited from other styles */
    -webkit-animation-duration:0;
    animation-duration:0;
}
.ry-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}
.ry-item.ng-leave {
    -webkit-animation: fadeOutRight 1s;
    animation: fadeOutRight 1s;
}
.rybadge.ng-enter-stagger {
    -webkit-animation-delay:200ms;
    animation-delay:200ms;

    /* override to make sure it's not inherited from other styles */
    -webkit-animation-duration:0;
    animation-duration:0;
}
.rybadge.ng-enter {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.rybadge.ng-leave {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.rybadgeInfo.ng-enter {
    -webkit-animation: flipInX 1s;
    animation: flipInX 1s;
}
.rybadgeInfo.ng-leave {
    -webkit-animation: flipOutX 1s;
    animation: flipOutX 1s;
}
.ryStats.ng-enter {
    -webkit-animation: slideInDown 1s;
    animation: slideInDown 1s;
}
.ryStats.ng-leave {
    -webkit-animation: slideOutDown 1s;
    animation: slideOutDown 1s;
}

.full-image {
    width: 100%;
}
.slidedown.ng-enter {
    -webkit-animation: slideInDown 1s;
    animation: slideInDown 1s;
}
.slidedown.ng-leave {
    -webkit-animation: slideOutUp 1s;
    animation: slideOutUp 1s;
}

.slideup.ng-enter {
    -webkit-animation: slideInUp 1s;
    animation: slideInUp 1s;
}
.slideup.ng-leave {
    -webkit-animation: slideOutDown 1s;
    animation: slideOutDown 1s;
}
.fade.ng-enter {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.fade.ng-leave {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}
.ryRank-container {
    background-color: red;
    box-shadow: 0px 0px 8px 15px rgba(119, 119, 119, 0.73);
-moz-box-shadow: 0px 0px 8px 15px rgba(119, 119, 119, 0.73);
-webkit-box-shadow: 0px 0px 8px 15px rgba(119, 119, 119, 0.73);
}
.messages-animation {
    transition:1s linear all;
}
.messages-animation.ng-active {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.messages-animation.ng-inactive {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}
.image-loader-container {
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
